## BUILD OPTIONS

# c-opts
build --cxxopt='-std=c++17'

build:debug -c dbg
build:debug --cxxopt=-DDEBUG
build:debug --cxxopt='-DLOG_LEVEL=4'

build:release -c opt
build:release --cxxopt='-DLOG_LEVEL=3'

build:race --cxxopt='-fsanitize=thread'
build:race --linkopt='-ltsan'

## TEST OPTIONS

# Verbose test output 
test --test_output=all